.Page{
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.Container{
  // padding:10px;
  flex:1 1 auto;
  background-color: #F4F8F9;
}